body{
    background-image: url(/Assets/DarkCoffe.jpg);
    background-size: cover ; /* Não deixa a imagem ficar se repetindo*/
}

#Box-Coffe {

    width: 800px;
    padding: 24px;
    background-color: #F0E8C2;
    border-radius: 24px;
    margin: auto; /* Centraliza a caixa ao meio*/
    margin-top: 48px;
    margin-bottom: 100px;
    box-sizing: border-box; /*Tira a soma dos paddings*/
}

#Box-Coffe img {
    width: 752px;
    height: 400px;
    border-radius: 16px;
}

#Box-Coffe h1, h2{

    font-family: 'Playfair Display', serif;
    
}

#Box-Coffe p{

    font-family: 'Open Sans', sans-serif;
    font-size: 16px; /* Ajuste o tamanho conforme necessário */
    line-height: 1.5; /* Para melhorar a legibilidade */
}